In [1]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests

### Ques1.. Scrape the details of most viewed videos on YouTube from Wikipedia:Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

#### You need to find following details:
#### A) Rank
#### B) Name
#### C) Artist
#### D) Upload date
#### E) Views

In [12]:
requests.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [13]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
time.sleep(5)

In [14]:
name=[]

try:

    names=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")

    for i in names:

        name.append(i.text)

except NoSuchElementException:

    name.append('No details available')

except StaleElementReferenceException:

    name.append('No details available')
    
print(len(name))

30

In [16]:
rank=[]

try:
    rk=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
    for i in rk:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('No details available')
        
print(len(rank))

30

In [18]:
artist=[]

try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]"):
        artist.append(i.text)
        
except NoSuchElementException:
    artist.append("No details available")
    
print(len(artist))

30

In [19]:
date=[]

try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]"):
        date.append(i.text)
except NoSuchElementException:
    date.append("No details available")
    
print(len(date))

30

In [21]:
view=[]
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]"):
        view.append(i.text)
except NoSuchElementException:
    view.append("No details available")
    
print(len(view))

30

In [22]:
Youtube_mostviewed_video=pd.DataFrame({})
Youtube_mostviewed_video['Rank']=rank
Youtube_mostviewed_video['Name']=name
Youtube_mostviewed_video['Artist']=artist
Youtube_mostviewed_video['Upload date']=date
Youtube_mostviewed_video['Views']=view

Youtube_mostviewed_video

,Rank,Name,Artist,Upload date,Views
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.96
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.44
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,"October 8, 2016",5.55
3,4.,"""Shape of You""[26]",Ed Sheeran,"January 30, 2017",5.38
4,5.,"""See You Again""[27]",Wiz Khalifa,"April 6, 2015",5.18
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.44
6,7.,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.31
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,"February 27, 2018",4.26
8,9.,"""Uptown Funk""[33]",Mark Ronson,"November 19, 2014",4.23
9,10.,"""Gangnam Style""[34]",Psy,"July 15, 2012",4.12
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",3.99
11,12.,"""Sugar""[37]",Maroon 5,"January 14, 2015",3.51
12,13.,"""Dame Tu Cosita""[38]",El Chombo,"April 5, 2018",3.46
13,14.,"""Sorry""[39]",Justin Bieber,"October 22, 2015",3.45
14,15.,"""Roar""[40]",Katy Perry,"September 5, 2013",3.39
15,16.,"""Counting Stars""[41]",OneRepublic,"May 31, 2013",3.34
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,"October 7, 2014",3.29
17,18.,"""Wheels on the Bus""[43]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.15
18,19.,"""Dark Horse""[44]",Katy Perry,"February 20, 2014",3.10
19,20.,"""Faded""[45]",Alan Walker,"December 3, 2015",3.10
20,21.,"""Shake It Off""[46]",Taylor Swift,"August 18, 2014",3.07
21,22.,"""Girls Like You""[47]",Maroon 5,"May 31, 2018",3.07
22,23.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.06
23,24.,"""Bailando""[49]",Enrique Iglesias,"April 11, 2014",3.06
24,25.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.03
25,26.,"""Mi Gente""[51]",J Balvin,"June 29, 2017",2.94
26,27.,"""Perfect""[52]",Ed Sheeran,"November 9, 2017",2.90
27,28.,"""Waka Waka (This Time for Africa)""[53]",Shakira,"June 4, 2010",2.88
28,29.,"""Axel F""[54]",Crazy Frog,"June 16, 2009",2.88
29,30.,"""Hello""[55]",Adele,"October 22, 2015",2.85

#### Ques2.Scrape the details team India’s international fixtures from bcci.tv.Url = https://www.bcci.tv/.

#### You need to find following details:
#### A) Match title (I.e. 1st ODI)
#### B) Series
#### C) Place
#### D) Date
#### E) Time

In [5]:
requests.get('https://www.bcci.tv/.')

In [13]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(3)
driver.get("https://www.bcci.tv/.")
time.sleep(3)

In [14]:
international_fix=driver.find_element_by_xpath('//div[@class="navigation__drop-down drop-down drop-down--reveal-on-hover"]')
international_fix.click()

fixtur=driver.find_element_by_xpath("//a[@class='navigation__link navigation__link--in-drop-down']")
fixtur.click()

In [23]:
title=[]

for i in driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']"):
    title.append(i.text)
    
print(len(title))

11

In [25]:
series=[]

for i in driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__format']"):
    series.append(i.text)
    
print(len(series))

11

In [17]:
place=[]

for i in driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span"):
    place.append(i.text)
    
print(len(place))

11

In [19]:
date=[]

for i in driver.find_elements_by_xpath("//span[@class='fixture__datetime tablet-only']/strong"):
    date.append(i.text)

print(len(date))

11

In [21]:
time=[]

for i in driver.find_elements_by_xpath("//span[@class='fixture__datetime tablet-only']"):
    time.append(i.text)

print(len(time))

11

In [30]:
India_international_fixtures=pd.DataFrame({})
India_international_fixtures['Match_title']=title
India_international_fixtures['Series']=series
India_international_fixtures['Place']=place
India_international_fixtures['Date']=date
India_international_fixtures['Time']=time

India_international_fixtures

,Match_title,Series,Place,Date,Time
0,1st ODI,ODI,"R Premadasa Stadium, Colombo",Tuesday 13th July,Tuesday 13th July 14:30 IST
1,2nd ODI,ODI,"R Premadasa Stadium, Colombo",Friday 16th July,Friday 16th July 14:30 IST
2,3rd ODI,ODI,"R Premadasa Stadium, Colombo",Sunday 18th July,Sunday 18th July 14:30 IST
3,1st T20I,T20I,"R Premadasa Stadium, Colombo",Wednesday 21st July,Wednesday 21st July 19:00 IST
4,2nd T20I,T20I,"R Premadasa Stadium, Colombo",Friday 23rd July,Friday 23rd July 19:00 IST
5,3rd T20I,T20I,"R Premadasa Stadium, Colombo",Sunday 25th July,Sunday 25th July 19:00 IST
6,1st Test,TEST,"Trent Bridge, Nottingham",Wednesday 4th August,Wednesday 4th August 15:30 IST
7,2nd Test,TEST,"Lord's, London",Thursday 12th August,Thursday 12th August 15:30 IST
8,3rd Test,TEST,"Headingley, Leeds",Wednesday 25th August,Wednesday 25th August 15:30 IST
9,4th Test,TEST,"The Oval, London",Thursday 2nd September,Thursday 2nd September 15:30 IST
10,5th Test,TEST,"Old Trafford, Manchester",Friday 10th September,Friday 10th September 15:30 IST

In [31]:
India_international_fixtures['Time']=(India_international_fixtures['Time'].str.split(' ').str[-2])

In [32]:
India_international_fixtures

,Match_title,Series,Place,Date,Time
0,1st ODI,ODI,"R Premadasa Stadium, Colombo",Tuesday 13th July,14:30
1,2nd ODI,ODI,"R Premadasa Stadium, Colombo",Friday 16th July,14:30
2,3rd ODI,ODI,"R Premadasa Stadium, Colombo",Sunday 18th July,14:30
3,1st T20I,T20I,"R Premadasa Stadium, Colombo",Wednesday 21st July,19:00
4,2nd T20I,T20I,"R Premadasa Stadium, Colombo",Friday 23rd July,19:00
5,3rd T20I,T20I,"R Premadasa Stadium, Colombo",Sunday 25th July,19:00
6,1st Test,TEST,"Trent Bridge, Nottingham",Wednesday 4th August,15:30
7,2nd Test,TEST,"Lord's, London",Thursday 12th August,15:30
8,3rd Test,TEST,"Headingley, Leeds",Wednesday 25th August,15:30
9,4th Test,TEST,"The Oval, London",Thursday 2nd September,15:30
10,5th Test,TEST,"Old Trafford, Manchester",Friday 10th September,15:30

#### Ques3.Scrape the details of selenium exception from guru99.com.Url = https://www.guru99.com/

#### You need to find following details:
#### A) Name
#### B) Description

In [8]:
requests.get(" https://www.guru99.com/")

In [13]:
driver=webdriver.Chrome("chromedriver.exe")

driver.get("https://www.guru99.com/")

In [14]:
selenium=driver.find_element_by_xpath("/html/body/footer/div/div[1]/div/div/div/div/div/div[2]/div[2]/div/div/div/a/i")
selenium.click()

In [15]:
sl_ex_hdl=driver.find_element_by_xpath("/html/body/div[2]/section[3]/div/div[1]/main/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td[1]/a")
sl_ex_hdl.click()

In [37]:
name=[]

try:

    names=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")

    for i in names[1:]:

        name.append(i.text)

except NoSuchElementException:

    name.append('No details available')

In [39]:
print(len(name))

41

In [40]:
desc=[]
try:
    for i in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]"):
        desc.append(i.text)
except NoSuchElementException:
    desc.append("no detail available")
print(len(desc))

42

In [41]:
Selenium_Exception=pd.DataFrame({'Name':name,'Description':desc[1:]})

In [42]:
Selenium_Exception

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

#### Ques4.Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/
#### You have to find following details:
#### A) Rank
#### B) State
#### C) GSDP at current price (19-20)
#### D) GSDP at current price (18-19)
#### E) Share(18-19)
#### F) GDP($ billion)

In [6]:
requests.get("http://statisticstimes.com/")

In [58]:
driver=webdriver.Chrome("chromedriver.exe")

driver.get("http://statisticstimes.com/")

In [61]:
economy=driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]")
economy.click()

In [62]:
india=driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
india.click()

In [64]:
gdp=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
gdp.click()

In [65]:
rank=[]

for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tr/td[1]"):
    rank.append(i.text)
    
print(len(rank))

34

In [66]:
state=[]

for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tr/td[2]"):
    state.append(i.text)
    
print(len(state))

34

In [67]:
gsdp_1920=[]

for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tr/td[3]"):
    gsdp_1920.append(i.text)
    
print(len(gsdp_1920))

34

In [68]:
gsdp_1819=[]

for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tr/td[4]"):
    gsdp_1819.append(i.text)
    
print(len(gsdp_1819))

34

In [69]:
share=[]

for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tr/td[5]"):
    share.append(i.text)
    
print(len(share))

34

In [70]:
gdp_biln=[]

for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tr/td[6]"):
    gdp_biln.append(i.text)
    
print(len(gdp_biln))

34

In [75]:
GDP_of_India=pd.DataFrame({})
GDP_of_India['Rank']=rank[0:33]
GDP_of_India['State']=state[0:33]
GDP_of_India['GSDP at current price(19-20)']=gsdp_1920[0:33]
GDP_of_India['GSDP at current price(18-19)']=gsdp_1819[0:33]
GDP_of_India['Share(18-19)']=share[0:33]
GDP_of_India['GDP($Billion)']=gdp_biln[0:33]

GDP_of_India

,Rank,State,GSDP at current price(19-20),GSDP at current price(18-19),Share(18-19),GDP($Billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

#### Ques5. Scrape the details of trending repositories on Github.com.Url = https://github.com/
#### You have to find the following details:
#### A) Repository title
#### B) Repository description
#### C) Contributors count
#### D) Language used

In [4]:
requests.get("https://github.com/")

In [5]:
driver=webdriver.Chrome("chromedriver.exe")

driver.get("https://github.com/")

In [9]:
explore_btn=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary")
explore_btn.click()
time.sleep(3)

In [10]:
trending_btn=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a")
trending_btn.click()
time.sleep(3)

In [11]:
title=[]

for i in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']"):
    title.append(i.text)
    
print(len(title))

24

In [13]:
url=[]
for i in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a"):
    url.append(i.get_attribute("href"))
print(len(url))

24

In [17]:
desc=[]
for ur in url:
    driver.get(ur)
    time.sleep(3)
    try:
        tag=driver.find_element_by_xpath("//p[@class='f4 mt-3']")
        desc.append(tag.text)
    except NoSuchElementException:
        desc.append("not available")
    
print(len(desc))

24

In [30]:
count=[]
for ur in url:
    driver.get(ur)
    time.sleep(3)
    try:
        tag=driver.find_element_by_xpath("/html/body/div[4]/div/main/div[2]/div/div/div[2]/div[2]/div/div[5]/div/h2/a/span")
        count.append(tag.text)
    except NoSuchElementException:
        try:
            tag=driver.find_element_by_xpath("/html/body/div[4]/div/main/div[2]/div/div/div[2]/div[2]/div/div[4]/div/h2/a/span")
            count.append(tag.text)
        except NoSuchElementException:
            try:
                tag=driver.find_element_by_xpath("/html/body/div[4]/div/main/div[2]/div/div/div[2]/div[2]/div/div[6]/div/h2/a/span")
                count.append(tag.text)
            except NoSuchElementException:
                count.append("--")
    
print(len(count))

24

In [36]:
lang=[]
for ur in url:
    driver.get(ur)
    time.sleep(3)
    try:
        tag=driver.find_element_by_xpath("/html/body/div[4]/div/main/div[2]/div/div/div[2]/div[2]/div/div[6]/div/ul")
        lang.append(tag.text)
    except NoSuchElementException:
        try:
            tag=driver.find_element_by_xpath("/html/body/div[4]/div/main/div[2]/div/div/div[2]/div[2]/div/div[5]/div/ul")
            lang.append(tag.text)
        except NoSuchElementException:
            lang.append("--")
    
print(len(lang))

24

In [38]:
Github_repository=pd.DataFrame({})
Github_repository['Repository_title']=title
Github_repository['Repository_desc']=desc
Github_repository['Contributors_count']=count
Github_repository['Language_used']=lang

Github_repository

,Repository_title,Repository_desc,Contributors_count,Language_used
0,ailabstw / social-distancing-android,Taiwan Social Distancing App - Android,4,Kotlin\n60.0%\nJava\n29.3%\nC++\n10.1%\nCMake\...
1,ailabstw / social-distancing-ios,Taiwan Social Distancing App - iOS,3,Swift\n98.3%\nRuby\n1.7%
2,shufflewzc / faker2,不知名大佬备份,--,JavaScript\n96.3%\nPython\n1.6%\nTypeScript\n1...
3,airbnb / javascript,JavaScript Style Guide,475,JavaScript\n100.0%
4,laynH / Anime-Girls-Holding-Programming-Books,Anime Girls Holding Programming Books,117,
5,swisskyrepo / PayloadsAllTheThings,A list of useful payloads and bypass for Web A...,152,Python\n86.2%\nRuby\n6.5%\nASP.NET\n3.9%\nClas...
6,trekhleb / javascript-algorithms,📝 Algorithms and data structures implemented i...,14,--
7,go-kratos / kratos,A Go framework for microservices.,103,
8,iptv-org / iptv,Collection of publicly available IPTV channels...,111,--
9,30-seconds / 30-seconds-of-code,Short JavaScript code snippets for all your de...,--,--
10,spring-projects / spring-graphql,Spring integration for GraphQL,10,Java\n94.8%\nCSS\n3.3%\nShell\n1.2%\nOther\n0.7%
11,microsoft / IoT-For-Beginners,"12 Weeks, 24 Lessons, IoT for All!",--,--
12,goldbergyoni / nodebestpractices,✅ The Node.js best practices list (June 2021),--,--
13,ryanmcdermott / clean-code-javascript,🛁 Clean Code concepts adapted for JavaScript,109,JavaScript\n100.0%
14,sorrycc / awesome-javascript,🐢 A collection of awesome browser-side JavaScr...,267,
15,lydiahallie / javascript-questions,A long list of (advanced) JavaScript questions...,160,
16,star261 / jd,not available,2,JavaScript\n100.0%
17,EbookFoundation / free-programming-books,📚 Freely available programming books,"1,626",--
18,chefyuan / algorithm-base,专门为刚开始刷题的同学准备的算法基地，没有最细只有更细，立志用动画将晦涩难懂的算法说的通俗易懂！,6,Java\n100.0%
19,philc / vimium,The hacker's browser.,133,JavaScript\n88.8%\nHTML\n7.8%\nCSS\n3.4%
20,earthly / earthly,Build automation for the container era,26,Go\n94.5%\nShell\n4.2%\nANTLR\n1.1%\nPython\n0.2%
21,jomjol / AI-on-the-edge-device,not available,4,C++ 64.3%\nC 30.8%\nHTML 3.8%\nJavaScript 0.8%...
22,nikolaydubina / go-recipes,Handy commands to run in Go projects,3,--
23,logseq / logseq,"A privacy-first, open-source(frontend now, bac...",,Clojure\n65.5%\nJavaScript\n26.5%\nCSS\n4.5%\n...

In [39]:
Github_repository['Contributors_count']=Github_repository['Contributors_count'].replace('','49')

In [40]:
Github_repository['Language_used']=Github_repository['Language_used'].replace('','--')

In [48]:
Github_repository

,Repository_title,Repository_desc,Contributors_count,Language_used
0,ailabstw / social-distancing-android,Taiwan Social Distancing App - Android,4,Kotlin\n60.0%\nJava\n29.3%\nC++\n10.1%\nCMake\...
1,ailabstw / social-distancing-ios,Taiwan Social Distancing App - iOS,3,Swift\n98.3%\nRuby\n1.7%
2,shufflewzc / faker2,不知名大佬备份,--,JavaScript\n96.3%\nPython\n1.6%\nTypeScript\n1...
3,airbnb / javascript,JavaScript Style Guide,475,JavaScript\n100.0%
4,laynH / Anime-Girls-Holding-Programming-Books,Anime Girls Holding Programming Books,117,--
5,swisskyrepo / PayloadsAllTheThings,A list of useful payloads and bypass for Web A...,152,Python\n86.2%\nRuby\n6.5%\nASP.NET\n3.9%\nClas...
6,trekhleb / javascript-algorithms,📝 Algorithms and data structures implemented i...,14,--
7,go-kratos / kratos,A Go framework for microservices.,103,--
8,iptv-org / iptv,Collection of publicly available IPTV channels...,111,--
9,30-seconds / 30-seconds-of-code,Short JavaScript code snippets for all your de...,--,--
10,spring-projects / spring-graphql,Spring integration for GraphQL,10,Java\n94.8%\nCSS\n3.3%\nShell\n1.2%\nOther\n0.7%
11,microsoft / IoT-For-Beginners,"12 Weeks, 24 Lessons, IoT for All!",--,--
12,goldbergyoni / nodebestpractices,✅ The Node.js best practices list (June 2021),--,--
13,ryanmcdermott / clean-code-javascript,🛁 Clean Code concepts adapted for JavaScript,109,JavaScript\n100.0%
14,sorrycc / awesome-javascript,🐢 A collection of awesome browser-side JavaScr...,267,--
15,lydiahallie / javascript-questions,A long list of (advanced) JavaScript questions...,160,--
16,star261 / jd,not available,2,JavaScript\n100.0%
17,EbookFoundation / free-programming-books,📚 Freely available programming books,"1,626",--
18,chefyuan / algorithm-base,专门为刚开始刷题的同学准备的算法基地，没有最细只有更细，立志用动画将晦涩难懂的算法说的通俗易懂！,6,Java\n100.0%
19,philc / vimium,The hacker's browser.,133,JavaScript\n88.8%\nHTML\n7.8%\nCSS\n3.4%
20,earthly / earthly,Build automation for the container era,26,Go\n94.5%\nShell\n4.2%\nANTLR\n1.1%\nPython\n0.2%
21,jomjol / AI-on-the-edge-device,not available,4,C++ 64.3%\nC 30.8%\nHTML 3.8%\nJavaScript 0.8%...
22,nikolaydubina / go-recipes,Handy commands to run in Go projects,3,--
23,logseq / logseq,"A privacy-first, open-source(frontend now, bac...",49,Clojure\n65.5%\nJavaScript\n26.5%\nCSS\n4.5%\n...

#### Ques6.Scrape the details of top 100 songs on billboard.com. Url = https://www.billboard.com/. You have to find the following details:
#### A) Song name
#### B) Artist name
#### C) Last week rank
#### D) Peak rank
#### E) Weeks on board

In [49]:
requests.get("https://www.billboard.com/")

In [50]:
driver=webdriver.Chrome("chromedriver.exe")

driver.get("https://www.billboard.com/")

In [51]:
search=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/nav/ul/li[3]/a")
search.click()
time.sleep(4)

In [52]:
song=[]
for i in driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']"):
    song.append(i.text)
print(len(song))

100

In [53]:
artist=[]
for i in driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']"):
    artist.append(i.text)
print(len(artist))

100

In [57]:
lwr=[]
for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']"):
    lwr.append(i.text)
print(len(lwr))

100

In [59]:
pr=[]
for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']"):
    pr.append(i.text)
print(len(pr))

100

In [61]:
wk=[]
for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']"):
    wk.append(i.text)
print(len(wk))

100

In [63]:
Top_100_songs=pd.DataFrame({})
Top_100_songs['Song_name']=song
Top_100_songs['Artist_name']=artist
Top_100_songs['Last_week_rank']=lwr
Top_100_songs['Peak_rank']=pr
Top_100_songs['Weeks_on_board']=wk

Top_100_songs

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,Butter,BTS,1,1,6
1,Good 4 U,Olivia Rodrigo,2,1,7
2,Kiss Me More,Doja Cat Featuring SZA,4,3,12
3,Levitating,Dua Lipa Featuring DaBaby,3,2,39
4,Bad Habits,Ed Sheeran,-,5,1
...,...,...,...,...,...
95,Twerkulator,City Girls,96,51,4
96,Tombstone,Rod Wave,83,11,14
97,Miss The Rage,Trippie Redd & Playboi Carti,82,11,8
98,Rise!,"Tyler, The Creator Featuring Daisy World",-,99,1
99,Working,Tate McRae X Khalid,94,94,2

#### Ques7.Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/ You have to find the following details:
#### A) Name
#### B) Designation
#### C) Company
#### D) Skills they hire for
#### E) Location

In [38]:
requests.get("https://www.naukri.com/")

In [85]:
driver=webdriver.Chrome("chromedriver.exe")

driver.get("https://www.naukri.com/")

In [86]:
recruiters=driver.find_element_by_xpath("//a[@title='Search Recruiters']")
recruiters.click()
time.sleep(3)

In [87]:
driver.get("https://www.naukri.com/hr-recruiters-consultants")

In [88]:
search=driver.find_element_by_xpath("//input[@name='qp']")
search.send_keys("Data Science")

In [89]:
btn=driver.find_element_by_xpath("//*[@id='qsbFormBtn']")
btn.click()
time.sleep(3)

In [49]:
name=[]
for i in driver.find_elements_by_xpath("//span[@class='fl ellipsis']"):
    name.append(i.text)
print(len(name))

50

In [50]:
designation=[]
for i in driver.find_elements_by_xpath("//span[@class='ellipsis clr']"):
    designation.append(i.text)
print(len(designation))

50

In [110]:
loc=[]
try:
    for i in driver.find_elements_by_xpath("//small[@class='ellipsis']"):
        loc.append(i.text)
except NosSuchElementException:
    loc.append("--")
print(len(loc))

48

In [111]:
loc.insert(26,'--')

In [113]:
loc.insert(47,'--')

In [52]:
hiring_skill=[]
for i in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']"):
    hiring_skill.append(i.text)
    
print(len(hiring_skill))

50

In [54]:
company=[]

for i in driver.find_elements_by_xpath("//p[@class='highlightable']/a[2]"):
    company.append(i.text)
print(len(company))

50

In [114]:
Recruiter=pd.DataFrame({})
Recruiter['Name']=name
Recruiter['Designation']=designation
Recruiter['Company']=company
Recruiter['Location']=loc
Recruiter['Hiring_skill']=hiring_skill
Recruiter

,Name,Designation,Company,Location,Hiring_skill
0,Aakash Harit,HR Manager,Data Science Network,Delhi,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration..."
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Pune,"Data Science, Artificial Intelligence, Machine..."
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We..."
4,subhas patel,Founder CEO,LibraryXProject,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec..."
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,Vadodara / Baroda,"Analytics, Business Intelligence, Business Ana..."
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Chennai,Data Science
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,Trivandrum,"Machine Learning, algorithms, Go Getter, Compu..."
8,Asif Lucknowi,Director,Weupskill- Live Wire India,Indore,"Technical Training, Software Development, Pres..."
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,Bengaluru / Bangalore,"Software Development, It Sales, Account Manage..."
10,Kalpana Dumpala,Executive Hiring,Innominds Software,Hyderabad / Secunderabad,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
11,Mubarak,Company HR,MoneyTap,Bengaluru / Bangalore,"Business Intelligence, Data Warehousing, Data ..."
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,Mumbai,"Office Administration, Hr Administration, tele..."
13,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,Pune,"Qlikview, Qlik Sense, Microsoft Azure, Power B..."
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,Hyderabad / Secunderabad,"Social Media, digital media maketing, seo, smm..."
15,Kapil Devang,HR Manager,BISP Solutions,Bhopal,"Big Data, Hadoop, Data Analytics, Data Science"
16,Manisha Yadav,HR Executive,Easi Tax,Navi Mumbai,"Telecalling, Client Interaction, Marketing, Re..."
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Cochin,Data Science
18,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,Delhi,"Corporate Sales, Software Development, Softwar..."
19,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,Hyderabad / Secunderabad,"Data Analytics, Data Science, Machine Learning..."
20,Rithika dadwal,HR Recruiter,Affine Analytics,Pune,"Data Science, Machine Learning, Python, R, Dee..."
21,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,Pune,"Data Science, Artificial Intelligence, Machine..."
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,Pune,"Big Data, Data Science, Artificial Intelligenc..."
23,Shaun Rao,Manager Human Resources,Exela Technologies,Pune,"Java, Net, Angularjs, Hr, Infrastructure, Mana..."
24,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,Bengaluru / Bangalore,"Software Architecture, Vp Engineering, Product..."
25,kumar,Proprietor,trainin,Bengaluru / Bangalore,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
26,Sunil Vedula,CEO,Nanoprecise Sci Corp,--,"Signal Processing, Machine Learning, Neural Ne..."
27,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,Delhi,"Web Technologies, Project Management, Software..."
28,Priya Khare,Senior Manager,Independent Consultant,Bengaluru / Bangalore,"Data Science, Artificial Intelligence, analyti..."
29,Dhruv Dev Dubey,Company Recruitment Head,Confidential,Bengaluru / Bangalore,"Server Administartion, Verilog, Vhdl, Digital ..."
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd",Mysoru / Mysore,"Data Analytics, Managed Services, Team Leading..."
31,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,Hyderabad / Secunderabad,"Data Science, Machine Learning, Big Data Analy..."
32,Radha Manivasagam,HR Executive,Techcovery,Bengaluru / Bangalore,"Python, Artificial Intelligence, Machine Learn..."
33,Prateek Kumar,Head,Trisect,Noida,"Java, Python, Angularjs, Software Testing, Mac..."
34,Amit Sharma,Consultant,ASCO consulting,New Delhi,"Machine Learning, Artificial Intelligence, Dat..."
35,Kanan,senior technology instructor,NY INST,Chennai,"C, C++, Artificial Intelligence, Python, Php, ..."
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,Aligarh,"Relationship Management, Retail Sales, Private..."
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,Salt Lake City,"Data Science, Software Engineering"
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,Pune,"Data Science, Big Data Analytics, Digital Mark..."
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,Bengaluru / Bangalore,"Data Science, Recruitment, Salary"
40,Ankit Sinha,Head Analytics,Suntech Global,Mumbai,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,Indore,"Software Development, Business Intelligence, B..."
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,Bengaluru / Bangalore,"Data Science, Node.js, Angularjs"
43,Ashwini,Director Global Delivery,MRP Advisers,MYSORE,"Data Science, Media Marketing, Resource Planni..."
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,Hyderabad / Secunderabad,"Data Analysis, Learning, Data Science, Compute..."
45,Rajani Nagaraj,HR Manager,WildJasmine,Bengaluru / Bangalore,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
46,ROHIT Kumar,Architect,LNT Private Limited,Mumbai,"Software Development, Core Java, Unit Testing,..."
47,Amir Chowdhury,Managing Partner,Granular.ai,--,"Machine Learning, Data Science, Product Manage..."
48,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,Noida,"consulting, Education Counseling, Educational ..."
49,Sunny Sharma,Managing Director - HR,Western Service Providers,Mumbai,"Software Professionals, Engineering, Technical..."

#### Ques8.Scrape the details of Highest selling novels. Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/  You have to find the following details:
#### A) Book name
#### B) Author name
#### C) Volumes sold
#### D) Publisher
#### E) Genre

In [27]:
requests.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [28]:
driver=webdriver.Chrome("chromedriver.exe")

driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")
time.sleep(4)

In [29]:
name=[]
try:
    for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]"):
        name.append(i.text)
except NoSuchElementException:
    name.append("--")

print(len(name))

100

In [31]:
author=[]
try:
    for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]"):
        author.append(i.text)
except NoSuchElementException:
    author.append("--")
    
print(len(author))

100

In [32]:
sold=[]
try:
    for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]"):
        sold.append(i.text)
except NoSuchElementException:
    sold.append("--")
    
print(len(sold))

100

In [33]:
publisher=[]
try:
    for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]"):
        publisher.append(i.text)
except NoSuchElementException:
    publisher.append("--")
    
print(len(publisher))

100

In [34]:
genre=[]
try:
    for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]"):
        genre.append(i.text)
except NoSuchElementException:
    genre.append("--")
    
print(len(genre))

100

In [36]:
Highest_selling_novels=pd.DataFrame({})
Highest_selling_novels['Book name']=name
Highest_selling_novels['Author name']=author
Highest_selling_novels['Volume sold']=sold
Highest_selling_novels['Publisher']=publisher
Highest_selling_novels['Genre']=genre

Highest_selling_novels

,Book name,Author name,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

#### Ques9.Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:
#### A) Name
#### B) Year span
#### C) Genre
#### D) Run time
#### E) Ratings
#### F) Votes

In [115]:
requests.get(" https://www.imdb.com/list/ls095964455/")

In [116]:
driver=webdriver.Chrome("chromedriver.exe")

driver.get(" https://www.imdb.com/list/ls095964455/")

In [117]:
name=[]
for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a"):
    name.append(i.text)
print(len(name))

100

In [118]:
year=[]
for i in driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']"):
    year.append(i.text)
print(len(year))

100

In [119]:
genre=[]
for i in driver.find_elements_by_xpath("//span[@class='genre']"):
    genre.append(i.text)
print(len(genre))

100

In [120]:
run_time=[]
for i in driver.find_elements_by_xpath("//span[@class='runtime']"):
    run_time.append(i.text)
print(len(run_time))

100

In [121]:
rating=[]
for i in driver.find_elements_by_xpath("//div[@class='ipl-rating-widget']/div/span[2]"):
    rating.append(i.text)
print(len(rating))

100

In [122]:
votes=[]
for i in driver.find_elements_by_xpath("//span[@name='nv']"):
    votes.append(i.text)
print(len(votes))

100

In [124]:
TV_series=pd.DataFrame({})
TV_series['Name']=name
TV_series['Year_span']=year
TV_series['Genre']=genre
TV_series['Run_time']=run_time
TV_series['Rating']=rating
TV_series['Votes']=votes

TV_series

,Name,Year_span,Genre,Run_time,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,834,325"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"873,110"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"878,805"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"264,069"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"225,599"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,773"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,372"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"169,405"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"35,103"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"193,191"

#### Ques10.Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/ You have to find the following details:
#### A) Dataset name
#### B) Data type
#### C) Task
#### D) Attribute type
#### E) No of instances
#### F) No of attribute
#### G) Year

In [2]:
requests.get("https://archive.ics.uci.edu/")

In [3]:
driver=webdriver.Chrome("chromedriver.exe")

driver.get("https://archive.ics.uci.edu/")

In [4]:
dataset=driver.find_element_by_xpath("//span[@class='whitetext']/a/font")
dataset.click()

In [5]:
name=[]
for i in driver.find_elements_by_xpath("//p[@class='normal']/b"):
    name.append(i.text)
print(len(name))

588

In [9]:
url=[]
for i in driver.find_elements_by_xpath("//p[@class='normal']/b/a"):
    url.append(i.get_attribute('href'))
print(len(url))

588

In [12]:
datatype=[]
for ur in url:
    driver.get(ur)
    time.sleep(2)
    try:
        tag=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[1]/td[2]/p")
        datatype.append(tag.text)
    except NoSuchElementException:
        datatype.append("--")
print(len(datatype))

588

In [17]:
task=[]
for ur in url:
    driver.get(ur)
    time.sleep(2)
    try:
        tag=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[3]/td[2]/p")
        task.append(tag.text)
    except NoSuchElementException:
        task.append("--")
print(len(task))

588

In [19]:
attype=[]
for ur in url:
    driver.get(ur)
    time.sleep(2)
    try:
        tag=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[2]/td[2]/p")
        attype.append(tag.text)
    except NoSuchElementException:
        attype.append("--")
    
print(len(attype))

588

In [21]:
instance=[]
for ur in url:
    driver.get(ur)
    time.sleep(2)
    try:
        tag=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[1]/td[4]/p")
        instance.append(tag.text)
    except NoSuchElementException:
        instance.append("--")
print(len(instance))

588

In [25]:
attribute=[]
for ur in url:
    driver.get(ur)
    time.sleep(2)
    try:
        tag=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[2]/td[4]/p")
        attribute.append(tag.text)
    except NoSuchElementException:
        attribute.append("--")
print(len(attribute))

588

In [27]:
year=[]
for ur in url:
    driver.get(ur)
    time.sleep(2)
    try:
        tag=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[2]/td[6]/p")
        year.append(tag.text)
    except NoSuchElementException:
        year.append("--")
print(len(year))

588

In [28]:
UCI_ML_Repository=pd.DataFrame({})
UCI_ML_Repository['Dataset_name']=name
UCI_ML_Repository['Data_type']=datatype
UCI_ML_Repository['Task']=task
UCI_ML_Repository['Attribute_type']=attype
UCI_ML_Repository['No_of_instances']=instance
UCI_ML_Repository['No_of_attribute']=attribute
UCI_ML_Repository['year']=year

UCI_ML_Repository

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995-12-01
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996-05-01
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,N/A
3,Anonymous Microsoft Web Data,N/A,Recommender-Systems,Categorical,37711,294,1998-11-01
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998-01-01
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,N/A,12684,23,2020-09-15
584,Gait Classification,Multivariate,Classification,Real,48,321,2020-10-14
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021-04-20
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021-04-20
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021-04-21