In [ ]:
#!pip install selenium

In [2]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

### Ques 1. Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You    have to scrape the job-title, job-location, company_names,experience_required. You have to scrape first 10 jobs data.

In [2]:
driver=webdriver.Chrome('chromedriver.exe')

In [3]:
url='https://www.naukri.com/'
driver.get(url)

In [4]:
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job

In [5]:
search_job.send_keys('Data Analyst')

In [6]:
search_loc=driver.find_element_by_id("qsb-location-sugg")
search_loc

In [7]:
search_loc.send_keys('Bangalore')

In [8]:
search_btn=driver.find_element_by_xpath('//button[@class="btn"]')
search_btn.click()

In [9]:
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="8b5c6e45-b671-4adc-b3dd-a930c5eb1fc8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="099181e3-6381-47af-8c8a-d7587ea79189")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="e16ad7f3-1308-4607-ba72-3506459c6055")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="b217781c-0104-4185-93fa-22e1c6cdb16f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="512337e2-994e-4a36-b041-2f1ace2af06f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="a4587fa7-42b8-43f4-b75b-f35ad8fe41ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="140fad41-bb35-4227-9143-7cfcb46106d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="a5153b3f-3b14-4f07-9f4a-be3a80c06260")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="ea10b7cc-d6f3-41ec-9256-23e905ef2743")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="31b3dd68-6797-463e-b5c6-75f5e071c89a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="73fe751a-2311-4652-90d0-f59def318170")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="8647721b-09cb-4fcf-ad03-30e16b93a59a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="41f54f7a-7983-4b8a-808d-044a4a183e5c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="53806de1-f89f-4fe5-8b75-5cc0fb1ce83d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="b1f8d26a-14e1-4376-b45e-16559899c8dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="da275839-dd24-4be8-883e-0f4b056b9101")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="38a22c0c-45af-4164-9f45-d1c5d4e92fbe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="4f89daf0-262d-4e5c-8007-b81216bfe128")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="52c6113d-f3f8-476d-8265-8779f8346339")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="9ee9caf1-7b5b-4105-be10-ce283af61cea")>]

In [13]:
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
job_titles[:10]

['Data Scientist / Data Analyst -Business Analyst',
 'Associate Systems and Data Analyst',
 'Data analysts',
 'Data analysts',
 'Data Analyst - Category Demand Management (Revenue & Growth)',
 'Job Opportunity For Talent Data Analyst - Cornerstone OnDemand',
 'Consultant-Data Analyst -Bangalore',
 'Data Analyst',
 'Data Analyst (Contractual)',
 'Data Analyst']

In [15]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tags

[<selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="70f1ac2d-faf6-42f1-bfdf-7c4284f2450c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="ddf93a0a-e02a-4304-81da-6ed7bfaf0053")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="90009c76-6a70-48c8-a82d-a935b9560ed8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="654eb746-c974-431b-8a39-14025c13d966")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="bf3c2506-2e82-40ec-bc31-d4089e3c6263")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="b36a5991-21e3-469f-babc-910127b8829a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="7a04267b-606b-4cb2-897c-934f1b16ea07")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="03efc363-98e8-4336-a6bb-25f87ec229c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="54a44768-4001-48a4-bdf9-6dc698be889b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="72b25e40-11f6-4c81-a84d-b1725d179126")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="8b96f4d9-3bf4-4b0c-ac0b-1f77f9a81fa5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="b3d9a58d-92f7-472f-bb89-4ce1adf08fd0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="8fbdd257-b461-4e5d-a936-e053442181b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="290480e6-f679-41ae-bbb5-eb15d7bf5726")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="6883ab26-1e81-47c8-b492-ddd92941c895")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="8d8ce4cc-c154-4b4d-a57a-4664d961e288")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="54c97c4f-feeb-4484-887f-6960cdce6ae9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="0d2f7751-c737-4620-8460-5657b3f4cbe4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="4d0f4940-fea8-4daa-8df9-36903a056418")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="1dd4c9ed-bf88-4e53-b3b6-b3c8d437838d")>]

In [16]:
job_locs=[]
for i in location_tags:
    job_locs.append(i.text)
job_locs[:10]

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Ulsoor)',
 'Bangalore/Bengaluru(Bellandur)',
 'Bangalore/Bengaluru']

In [17]:
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags

[<selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="48838be8-22e0-42b2-b116-2a3e52f24037")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="a31711f7-b0ba-469b-a9ff-6b0ac77d6a86")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="08cda88f-8a84-4e97-a93b-d877de9b2e02")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="4aaf265d-23ee-469f-9781-cdda11810725")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="14b55696-3d51-4555-a691-6140e072a484")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="0ed759c0-2ed6-4ab7-ab95-d798ffd7c01d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="4d0d788a-31f0-462b-b389-f5caafe7a070")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="3dda1d81-9943-4c68-b290-0e34298102c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="abbce658-b56c-46df-b346-5ab951d573f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="e0d85dc4-247c-4d3f-9b32-d6507c5faac2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="9d569771-4faa-409f-926e-5bc49fbb4df2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="ff26ef97-8e9f-4141-a572-9c228976d392")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="861af172-2752-48e5-9066-1467986fdce1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="9659f6bb-ce06-4c26-bd84-a50fcca17cb4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="9a65cbf3-3c06-41e1-9204-6dac89ef1dcc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="51a41d31-f8fd-4e84-8345-5cec61a17820")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="a096ea1b-993f-4cee-b85c-032458d2d962")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="26e8e90e-d357-4f73-8e78-6d1decd99bd1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="dcecc0cd-b89a-47ef-a330-7e8cfd179824")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="89912374-e0f8-45a1-b705-cd0bf79f8610")>]

In [18]:
company_names=[]
for i in company_tags:
    company_names.append(i.text)
company_names[:10]

['Inflexion Analytix Private Limited',
 'Boeing',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Myntra Designs Pvt. Ltd.',
 'Cornerstone OnDemand Services India Pvt Ltd',
 'Innovsource Services Private Limited',
 'WEIWO Communication Pvt. Ltd.',
 'Flipkart Internet Private Limited',
 'IBM India Pvt. Limited']

In [19]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_tags

[<selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="7bbf6bc6-b706-4348-b0d5-c21c864bba10")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="b96336f0-fc1a-4398-8d9e-9a062f575bae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="7b10e3b2-0431-4f0c-bd63-b3090511cf21")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="6a9e5623-bcc0-4c80-83c2-9101d05f0408")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="1e5f6289-a294-4888-af78-901c8d44674f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="8ef33d39-2c0b-41a5-a892-9e1181f3ac9b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="e7af39c5-3927-4001-8fe8-e1cc3e440160")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="65125a62-6fff-4323-bf78-6233f48f6f72")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="fe934221-33a8-45dd-8966-48126b8ac2ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="19e2cf27-41e6-43ed-b80a-35df8fd4205a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="90331efc-5f08-4fcd-b997-753d4445ad77")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="4bdfb2cb-b72e-4c48-b6e1-76085eb12371")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="25d97c40-eec6-439d-ac6f-1f5ba2c58724")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="29ad073e-b8eb-446f-8cc7-40b52da83c3e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="f56dedce-8127-40e8-be7d-ef2d923cbeb3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="87ccddcc-1d5b-4c19-ac6d-bef57748134c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="42562b7c-d846-488b-a4f0-2e610a091770")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="a37d85ee-7eb0-4bb3-8718-dd6b63fd3f56")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="cada1dbc-8ced-4c50-8b36-8e689ecaaf78")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3a63ed7fabf51f94114a6f48520435f", element="d8f858fb-b088-4b84-a583-ccbfb5c5210d")>]

In [20]:
experience_req=[]
for i in experience_tags:
    experience_req.append(i.text)
experience_req[:10]

['0-3 Yrs',
 '0-4 Yrs',
 '5-6 Yrs',
 '3-5 Yrs',
 '1-4 Yrs',
 '3-5 Yrs',
 '2-7 Yrs',
 '5-8 Yrs',
 '1-4 Yrs',
 '3-7 Yrs']

In [22]:
jobs=pd.DataFrame({})
jobs['Job_Titles']=job_titles[:10]
jobs['Job_Location']=job_locs[:10]
jobs['Company_Names']=company_names[:10]
jobs['Experience_req']=experience_req[:10]

jobs

,Job_Titles,Job_Location,Company_Names,Experience_req
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Associate Systems and Data Analyst,Bangalore/Bengaluru,Boeing,0-4 Yrs
2,Data analysts,Bengaluru/Bangalore,IBM India Pvt. Limited,5-6 Yrs
3,Data analysts,Bangalore/Bengaluru,IBM India Pvt. Limited,3-5 Yrs
4,Data Analyst - Category Demand Management (Rev...,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,1-4 Yrs
5,Job Opportunity For Talent Data Analyst - Corn...,"Kolkata, Pune, Chennai, Bangalore/Bengaluru, D...",Cornerstone OnDemand Services India Pvt Ltd,3-5 Yrs
6,Consultant-Data Analyst -Bangalore,Bangalore/Bengaluru,Innovsource Services Private Limited,2-7 Yrs
7,Data Analyst,Bangalore/Bengaluru(Ulsoor),WEIWO Communication Pvt. Ltd.,5-8 Yrs
8,Data Analyst (Contractual),Bangalore/Bengaluru(Bellandur),Flipkart Internet Private Limited,1-4 Yrs
9,Data Analyst,Bangalore/Bengaluru,IBM India Pvt. Limited,3-7 Yrs

### Ques 2. Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You                        have to scrape the job-title, job-location,company_name,full job-description. You have to scrape first                        10 jobs data.

In [23]:
driver=webdriver.Chrome('chromedriver.exe')

In [24]:
driver.get('https://www.naukri.com/')

In [25]:
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job

In [26]:
search_job.send_keys('Data Scientist')

In [27]:
search_loc=driver.find_element_by_id("qsb-location-sugg")
search_loc

In [28]:
search_loc.send_keys('Bangalore')

In [29]:
search_btn=driver.find_element_by_xpath('//button[@class="btn"]')
search_btn.click()

In [30]:
job_titles=[]
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in title_tags:
    job_titles.append(i.text)
job_titles[:10]

['Data Scientist',
 'Data Scientist - Python/ SQL',
 'Data Scientist',
 'Data Scientist - Machine Learning',
 'Data Scientist - Python/r',
 'Data Scientist',
 'Data Scientist',
 'Data scientist - Bangalore - only IITand IIM',
 'Data Scientist - Optimus ( RL/ DL)',
 'Data Scientist']

In [31]:
company_nm=[]
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in company_tags:
    company_nm.append(i.text)
company_nm[:10]

['Bion',
 'Catalyst',
 'Catalyst',
 'Catalyst',
 'Catalyst',
 'Talent Corner HR Services Pvt Ltd',
 'COUTURE AI PRIVATE LIMITED',
 'Industrial Personnel Network',
 'Bert Labs',
 'Simplify360']

In [32]:
job_loc=[]
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags:
    job_loc.append(i.text)
job_loc[:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [45]:
job_desc=[]
desc_tags=driver.find_elements_by_xpath("//div[@class='job-description fs12 grey-text']")
for i in desc_tags:
    job_desc.append(i.text)
job_desc[:10]

['Responsibilities Collaborate with product and business teams to understand all aspects ...',
 'Being the first data scientist of the company, you shall be responsible for building ro...',
 'Responsibilities Collaborate with product and business teams to understand all aspects ...',
 'Roles and Responsibilities- Implement data-driven solutions based on advanced ML and op...',
 'Comfortable writing code and contributing to a code base in Python or R. - Proficient i...',
 'Must have min 2 to 5 years of expertise in machine learning algorithms, predictive anal...',
 'IITs, IISc, BITS, IIITs and global ranked Univs) with goodBasic Qualifications: Bachelo...',
 'The candidate should have relevant experience in Python, R, Machine Learning, NLP, Deep...',
 'Experience: BTech / MTech/MS / PhD in CS / ECE/Statistics or other relevant field from ...',
 'Should have understanding of model deploymentExperience with common data science toolki...']

In [46]:
job_details=pd.DataFrame({})
job_details['Job_Titles']=job_titles[:10]
job_details['Company_names']=company_nm[:10]
job_details['Job_Locations']=job_loc[:10]
job_details['Job_Description']=job_desc[:10]

In [47]:
job_details

,Job_Titles,Company_names,Job_Locations,Job_Description
0,Data Scientist,Bion,Bangalore/Bengaluru,Responsibilities Collaborate with product and ...
1,Data Scientist - Python/ SQL,Catalyst,Bangalore/Bengaluru,"Being the first data scientist of the company,..."
2,Data Scientist,Catalyst,Bangalore/Bengaluru,Responsibilities Collaborate with product and ...
3,Data Scientist - Machine Learning,Catalyst,Bangalore/Bengaluru,Roles and Responsibilities- Implement data-dri...
4,Data Scientist - Python/r,Catalyst,Bangalore/Bengaluru,Comfortable writing code and contributing to a...
5,Data Scientist,Talent Corner HR Services Pvt Ltd,Bangalore/Bengaluru,Must have min 2 to 5 years of expertise in mac...
6,Data Scientist,COUTURE AI PRIVATE LIMITED,Bangalore/Bengaluru,"IITs, IISc, BITS, IIITs and global ranked Univ..."
7,Data scientist - Bangalore - only IITand IIM,Industrial Personnel Network,Bangalore/Bengaluru,The candidate should have relevant experience ...
8,Data Scientist - Optimus ( RL/ DL),Bert Labs,Bangalore/Bengaluru,Experience: BTech / MTech/MS / PhD in CS / ECE...
9,Data Scientist,Simplify360,Bangalore/Bengaluru,Should have understanding of model deploymentE...

### Ques3. You have to scrape data for “Data Scientist” designation for first 10 job results.You have to scrape the                        job-title, job-location, company_name,experience_required.The location filter to be used is                  “Delhi/NCR”,The salary filter to be used is “3-6” lakhs

In [3]:
driver=webdriver.Chrome("chromedriver.exe")

In [4]:
driver.get("https://www.naukri.com")

In [5]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")

In [6]:
search_btn=driver.find_element_by_xpath('//button[@class="btn"]')
search_btn.click()

In [7]:
filter_btn=driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[2]/div[2]/div[3]')
filter_btn.click()

In [8]:
filter_sal=driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[1]/div[2]/div[2]')
filter_sal.click()

In [9]:
job_title=[]
for i in driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]'):
    job_title.append(i.text)
job_title[:10]

['Data Scientist / Data Analyst -Business Analyst',
 'Data analytics / Data scientist intern (work from Home)',
 'Data Scientist, Machine Learning',
 'Data Scientist',
 'Looking For Data Scientist For Infogain',
 'Data Scientist',
 'data scientist',
 'Opening For Data Scientist in Axtria',
 'Data Scientist',
 'Data Engineers /Data Scientist - CES IT LTD - CMMI LVL 5']

In [10]:
job_loc=[]
for i in driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]'):
    job_loc.append(i.text)
job_loc[:10]

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Kolkata, Bangalore/Bengaluru, Delhi / NCR',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida(Sector-60 Noida), Bangalore/Bengaluru(Electronics City Phase 1), Mumbai (All Areas)(SEEPZ)',
 'Noida, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)']

In [11]:
com_name=[]
for i in driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]'):
    com_name.append(i.text)
com_name[:10]

['Inflexion Analytix Private Limited',
 'TalkValley LLC',
 'Fractal Analytics',
 'Fractal Analytics',
 'Infogain India (P) Ltd.',
 'Oracle India Pvt. Ltd.',
 'Global Talent Pool',
 'Axtria India Private Limited',
 'Replicon Software (India) Pvt Ltd',
 'CES Ltd.']

In [12]:
exp_req=[]
for i in driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]'):
    exp_req.append(i.text)
exp_req[:10]

['0-3 Yrs',
 '0-5 Yrs',
 '3-6 Yrs',
 '3-7 Yrs',
 '10-20 Yrs',
 '5-9 Yrs',
 '0-2 Yrs',
 '7-12 Yrs',
 '4-8 Yrs',
 '3-5 Yrs']

In [13]:
job_details=pd.DataFrame({})
job_details['Job_Titles']=job_title[:10]
job_details['Company_names']=com_name[:10]
job_details['Job_Locations']=job_loc[:10]
job_details['Experience_Req']=exp_req[:10]

In [14]:
job_details

,Job_Titles,Company_names,Job_Locations,Experience_Req
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",0-3 Yrs
1,Data analytics / Data scientist intern (work f...,TalkValley LLC,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",0-5 Yrs
2,"Data Scientist, Machine Learning",Fractal Analytics,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",3-6 Yrs
3,Data Scientist,Fractal Analytics,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",3-7 Yrs
4,Looking For Data Scientist For Infogain,Infogain India (P) Ltd.,"Noida(Sector-60 Noida), Bangalore/Bengaluru(El...",10-20 Yrs
5,Data Scientist,Oracle India Pvt. Ltd.,"Noida, Bangalore/Bengaluru",5-9 Yrs
6,data scientist,Global Talent Pool,Bangalore/Bengaluru,0-2 Yrs
7,Opening For Data Scientist in Axtria,Axtria India Private Limited,"Noida, Bangalore/Bengaluru",7-12 Yrs
8,Data Scientist,Replicon Software (India) Pvt Ltd,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",4-8 Yrs
9,Data Engineers /Data Scientist - CES IT LTD - ...,CES Ltd.,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",3-5 Yrs

### Ques4.Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida              location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [77]:
driver=webdriver.Chrome("chromedriver.exe")

In [78]:
driver.get('https://www.glassdoor.co.in/index.htm')

In [84]:
search_job=driver.find_element_by_xpath('//input[@id="sc.keyword"]')

In [85]:
search_job.send_keys("Data Scientist")

In [86]:
search_loc=driver.find_element_by_xpath('//input[@id="sc.location"]')

In [87]:
search_loc.send_keys('Noida')

In [88]:
search_btn=driver.find_element_by_xpath('//button[@class="gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr"]')
search_btn.click()

In [90]:
company_name=[]
for i in driver.find_elements_by_xpath('//a[@class=" css-l2wjgv e1n63ojh0 jobLink"]'):
    company_name.append(i.text)

print(len(company_name))

32

In [91]:
post_day=[]
for i in driver.find_elements_by_xpath('//div[@class="d-flex align-items-end pl-std css-mi55ob"]'):
    post_day.append(i.text)

print(len(post_day))

32

In [93]:
rat=[]
for i in driver.find_elements_by_xpath('//span[@class="css-19pjha7 e1cjmv6j1"]'):
    if i.text is None:
        rat.append("None")
    else:
        rat.append(i.text)
    
    

print(len(rat))

24

In [94]:
Job_detail=pd.DataFrame({})
Job_detail['Company_name']=company_name[:10]
Job_detail['Posting_agodays']=post_day[:10]
Job_detail['Company_rating']=rat[:10]

Job_detail

               Company_name Posting_agodays Company_rating
0                   Taboola              2d            4.2
1                   Bechtel             12d            3.9
2                MasterCard             18d            4.3
3           Dürr Somac GmbH             24h            3.8
4                     Jubna             10d            4.0
5                 Donaldson              1d            3.5
6                   Ank Aha              9d            3.9
7  Lantern Digital Services              3d            3.7
8    Dürr IT Services India              1d            4.0
9            Biz2Credit Inc             18d            4.1

### Ques5.Write a python program to scrape the salary data for Data Scientist designation in Noida location.You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary,Rating of the company.

In [95]:
driver=webdriver.Chrome("chromedriver.exe")

In [96]:
driver.get('https://www.glassdoor.co.in/Salaries/index.htm')

In [97]:
search_job=driver.find_element_by_xpath('//input[@name="sc.keyword"]')

In [98]:
search_job.send_keys("Data Scientist")

In [99]:
search_loc=driver.find_element_by_xpath('//input[@id="LocationSearch"]')

In [100]:
search_loc.send_keys('Noida')

In [101]:
search_btn=driver.find_element_by_xpath('//button[@class="gd-btn-mkt"]')
search_btn.click()

In [102]:
company_name=[]
for i in driver.find_elements_by_xpath('//a[@class="css-f3vw95 e1aj7ssy3"]'):
    company_name.append(i.text)

print(len(company_name))

20

In [104]:
num_of_sl=[]
for i in driver.find_elements_by_xpath('//div[@class="col-12 col-lg-auto"]'):
    num_of_sl.append(i.text)

print(len(num_of_sl))

20

In [110]:
avg_sal=[]
for i in driver.find_elements_by_xpath('//div[@class="col-12 col-lg-4 px-lg-0 d-flex align-items-baseline"]/h3'):
    avg_sal.append(i.text)

print(len(avg_sal))

20

In [106]:
range_of_sal=[]
for i in driver.find_elements_by_xpath('//span[@class="d-block d-lg-none m-0 css-1b6bxoo"]'):
    range_of_sal.append(i.text)

print(len(range_of_sal))

20

In [107]:
ratn=[]
for i in driver.find_elements_by_xpath('//span[@class="m-0 css-kyx745"]'):
    ratn.append(i.text)

print(len(ratn))

20

In [111]:
Salary_desc=pd.DataFrame({})
Salary_desc['Company_name']=company_name[:10]
Salary_desc['No_of_salary']=num_of_sl[:10]
Salary_desc['Range_of_salary']=range_of_sal[:10]
Salary_desc['Average_salary']=avg_sal[:10]
Salary_desc['Ratings']=ratn[:10]

In [112]:
Salary_desc

,Company_name,No_of_salary,Range_of_salary,Average_salary,Ratings
0,Tata Consultancy Services,17 salaries,"Range: ₹343K - ₹1,250K","₹ 6,15,289",3.9
1,IBM,15 salaries,"Range: ₹587K - ₹2,734K","₹ 9,00,000",3.9
2,Accenture,14 salaries,"Range: ₹578K - ₹2,217K","₹ 11,48,366",4
3,Ericsson-Worldwide,14 salaries,"Range: ₹355K - ₹1,615K","₹ 7,39,238",4
4,Delhivery,14 salaries,"Range: ₹451K - ₹11,640K","₹ 12,41,763",3.8
5,UnitedHealth Group,11 salaries,"Range: ₹1,071K - ₹1,523K","₹ 13,38,279",3.6
6,Optum Global Solutions,9 salaries,"Range: ₹350K - ₹2,152K","₹ 13,28,697",3.9
7,Valiance Solutions,9 salaries,"Range: ₹502K - ₹1,467K","₹ 8,16,495",4.1
8,ZS Associates,8 salaries,"Range: ₹202K - ₹1,812K","₹ 11,42,356",4
9,EXL Service,8 salaries,"Range: ₹576K - ₹1,523K","₹ 11,46,073",3.6

### Ques6.Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
### 1. Brand
### 2. Product Description
### 3. Price
### 4. Discount %

In [7]:
dv=webdriver.Chrome('chromedriver.exe')

In [8]:
dv.get(' https://www.flipkart.com/')

In [10]:
search=dv.find_element_by_xpath('//input[@class="_3704LK"]')
search.send_keys("sunglasses")

In [12]:
search_btn=dv.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [15]:
brand_name=[]

for i in range(3):
    for j in dv.find_elements_by_xpath('//div[@class="_2WkVRV"]'):
        brand_name.append(j.text)
        
    dv.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
    time.sleep(5)

In [16]:
brand_name[:100]

['Singco India',
 'NuVew',
 'ROYAL SON',
 'NuVew',
 'PHENOMENAL',
 'GANSTA',
 'DEIXELS',
 'povty',
 'ROYAL SON',
 'PHENOMENAL',
 'ROZZETTA CRAFT',
 'Villain',
 'Fastrack',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Villain',
 'Cristiano Ronnie',
 'ROYAL SON',
 'PIRASO',
 'NuVew',
 'DEIXELS',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'NuVew',
 'Silver Kartz',
 'NuVew',
 'Flizz',
 'hipe',
 'Fastrack',
 'NuVew',
 'NuVew',
 'ROYAL SON',
 'NuVew',
 'NuVew',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'Fastrack',
 'hipe',
 'Fastrack',
 'NuVew',
 'NuVew',
 'AISLIN',
 'PIRASO',
 'PIRASO',
 'Fastrack',
 'PIRASO',
 'Fastrack',
 'AISLIN',
 'DEIXELS',
 'PIRASO',
 'ROZZETTA CRAFT',
 'AISLIN',
 'HIPPON',
 'PHENOMENAL',
 'GANSTA',
 'AISLIN',
 'ROZZETTA CRAFT',
 'Fastrack',
 'PIRASO',
 'AISLIN',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'Fastrack',
 'NuVew',
 'Fastrack',
 'NuVew',
 'hipe',
 'NuVew',
 'Fastrack',
 'PIRASO',
 'PHENOMENAL',
 'AISLIN',
 'ROZZETTA CRAFT',
 'Fastrack',
 'NuVew',
 'NuVew',
 'NuVew',
 'PHENOMENAL',
 'hipe',
 'AISLIN',
 'ROYAL SON',
 'ROYAL SON',
 'PHENOMENAL',
 'EYEWEARLABS',
 'DEIXELS',
 'Singco India',
 'NuVew',
 'NuVew',
 'ROZZETTA CRAFT',
 'Fastrack',
 'GANSTA',
 'povty',
 'PHENOMENAL',
 'ROZZETTA CRAFT',
 'Fastrack',
 'NuVew',
 'Cristiano Ronnie',
 'DEIXELS',
 'ROYAL SON',
 'Villain']

In [19]:
prod_desc=[]

for i in range(3):
    for j in dv.find_elements_by_xpath('//a[@class="IRpwTa"]'):
        prod_desc.append(j.text)
        
    dv.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
    time.sleep(5)

In [20]:
prod_desc[:100]

['Mirrored Aviator Sunglasses (55)',
 'UV Protection, Gradient Wayfarer Sunglasses (55)',
 'UV Protection, Mirrored Retro Square Sunglasses (Free S...',
 'UV Protection, Gradient, Night Vision, Mirrored Aviator...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (56)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Round Sunglasses (Free Size)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'UV Protection, Mirrored, Gradient Cat-eye Sunglasses (6...',
 'UV Protection, Mirrored Clubmaster Sunglasses (Free Siz...',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Others Wayfarer Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Aviator Sunglasses (57)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'UV Protection Wayfarer Sunglasses (55)',
 'Others Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection, Mirrored Sports Sunglasses (73)',
 'UV Protection Cat-eye Sunglasses (60)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Gradient, Night Vision, Mirrored Aviator...',
 'Polarized, UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection, Mirrored, Night Vision, Riding Glasses S...',
 'UV Protection, Mirrored, Gradient Wayfarer Sunglasses (...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Butterfly Sunglasses (65)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'Polarized, UV Protection, Gradient Aviator Sunglasses (...',
 'UV Protection, Others Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Mirrored, Gradient Over-sized, Retro Squ...',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Gradient Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Mirrored Wayfarer, Shield Sunglasses (57...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Wayfarer, Rectangular Sunglasses (55)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'Mirrored, UV Protection, Gradient Round Sunglasses (55)',
 'UV Protection, Gradient Aviator Sunglasses (61)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Clubmaster Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (61)',
 'UV Protection, Gradient, Night Vision, Mirrored Aviator...',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Sports Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Gradient Wayfarer Sunglasses (55)',
 'UV Protection, Mirrored Retro Square Sunglasses (Free S...',
 'UV Protection, Gradient, Night Vision, Mirrored Aviator...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (56)',
 'UV Protection, Mirrored, Gradient Cat-eye Sunglasses (6...',
 'Gradient, UV Protection Round Sunglasses (Free Size)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'Others Wayfarer Sunglasses (Free Size)',
 'UV Protection, Mirrored Clubmaster Sunglasses (Free Siz...',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Others Retro Square Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Aviator Sunglasses (57)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (54)']

In [21]:
price=[]

for i in range(3):
    for j in dv.find_elements_by_xpath('//div[@class="_30jeq3"]'):
        price.append(j.text)
        
    dv.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
    time.sleep(5)

In [22]:
price[:100]

['₹1,698',
 '₹1,498',
 '₹225',
 '₹200',
 '₹570',
 '₹200',
 '₹647',
 '₹1,498',
 '₹213',
 '₹314',
 '₹404',
 '₹395',
 '₹251',
 '₹399',
 '₹281',
 '₹312',
 '₹499',
 '₹1,085',
 '₹200',
 '₹189',
 '₹499',
 '₹399',
 '₹536',
 '₹699',
 '₹733',
 '₹227',
 '₹210',
 '₹679',
 '₹674',
 '₹314',
 '₹319',
 '₹1,185',
 '₹449',
 '₹759',
 '₹206',
 '₹500',
 '₹314',
 '₹399',
 '₹319',
 '₹232',
 '₹319',
 '₹217',
 '₹399',
 '₹308',
 '₹219',
 '₹219',
 '₹198',
 '₹274',
 '₹449',
 '₹759',
 '₹292',
 '₹750',
 '₹319',
 '₹449',
 '₹702',
 '₹539',
 '₹449',
 '₹236',
 '₹265',
 '₹335',
 '₹200',
 '₹319',
 '₹293',
 '₹301',
 '₹399',
 '₹499',
 '₹246',
 '₹199',
 '₹227',
 '₹301',
 '₹449',
 '₹399',
 '₹349',
 '₹290',
 '₹758',
 '₹799',
 '₹323',
 '₹398',
 '₹638',
 '₹291',
 '₹1,498',
 '₹1,498',
 '₹225',
 '₹200',
 '₹570',
 '₹200',
 '₹647',
 '₹395',
 '₹213',
 '₹314',
 '₹404',
 '₹189',
 '₹251',
 '₹399',
 '₹281',
 '₹699',
 '₹499',
 '₹1,085',
 '₹200',
 '₹679']

In [23]:
disc=[]

for i in range(3):
    for j in dv.find_elements_by_xpath('//div[@class="_3Ay6Sb"]'):
        if j.text is None:
            disc.append('no discount')
        else:
            disc.append(j.text)
        
    dv.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
    time.sleep(5)

In [24]:
disc[:100]

['78% off',
 '78% off',
 '80% off',
 '73% off',
 '72% off',
 '68% off',
 '79% off',
 '82% off',
 '77% off',
 '15% off',
 '85% off',
 '68% off',
 '84% off',
 '77% off',
 '12% off',
 '24% off',
 '71% off',
 '60% off',
 '79% off',
 '28% off',
 '87% off',
 '78% off',
 '76% off',
 '76% off',
 '81% off',
 '77% off',
 '83% off',
 '80% off',
 '71% off',
 '72% off',
 '77% off',
 '73% off',
 '72% off',
 '75% off',
 '15% off',
 '87% off',
 '73% off',
 '20% off',
 '80% off',
 '57% off',
 '40% off',
 '85% off',
 '87% off',
 '28% off',
 '28% off',
 '87% off',
 '62% off',
 '80% off',
 '82% off',
 '79% off',
 '73% off',
 '79% off',
 '80% off',
 '85% off',
 '82% off',
 '16% off',
 '77% off',
 '87% off',
 '28% off',
 '32% off',
 '80% off',
 '77% off',
 '76% off',
 '18% off',
 '71% off',
 '85% off',
 '68% off',
 '25% off',
 '80% off',
 '84% off',
 '75% off',
 '87% off',
 '79% off',
 '15% off',
 '68% off',
 '73% off',
 '68% off',
 '83% off',
 '72% off',
 '85% off',
 '72% off',
 '79% off',
 '24% off',
 '78% off',
 '80% off',
 '68% off',
 '80% off',
 '15% off',
 '78% off',
 '84% off',
 '73% off',
 '77% off',
 '12% off',
 '77% off',
 '82% off',
 '79% off',
 '87% off',
 '71% off',
 '69% off',
 '60% off']

In [28]:
print(len(brand_name),len(disc),len(price),len(prod_desc))

239 118 120 119

In [29]:
sunglass_details=pd.DataFrame({})
sunglass_details['Brand']=brand_name[:100]
sunglass_details['Price']=price[:100]
sunglass_details['Product_Desc']=prod_desc[:100]
sunglass_details['Discount']=disc[:100]

In [30]:
sunglass_details

,Brand,Price,Product_Desc,Discount
0,Singco India,"₹1,698",Mirrored Aviator Sunglasses (55),78% off
1,NuVew,"₹1,498","UV Protection, Gradient Wayfarer Sunglasses (55)",78% off
2,ROYAL SON,₹225,"UV Protection, Mirrored Retro Square Sunglasse...",80% off
3,NuVew,₹200,"UV Protection, Gradient, Night Vision, Mirrore...",73% off
4,PHENOMENAL,₹570,UV Protection Round Sunglasses (Free Size),72% off
...,...,...,...,...
95,NuVew,₹699,"UV Protection, Riding Glasses Aviator Sunglass...",79% off
96,Cristiano Ronnie,₹499,"Polarized, UV Protection, Riding Glasses Wayfa...",87% off
97,DEIXELS,"₹1,085",UV Protection Wayfarer Sunglasses (55),71% off
98,ROYAL SON,₹200,UV Protection Aviator Sunglasses (57),69% off
99,Villain,₹679,UV Protection Aviator Sunglasses (54),60% off

### Ques7.: Scrape 100 reviews data from flipkart.com for iphone11 phone. These are 
### 1. Rating 
### 2. Review_summary 
### 3. Full review

In [32]:
dv=webdriver.Chrome('chromedriver.exe')

In [33]:
dv.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')

In [45]:
rat=[]
    
for j in range(10):
    for i in dv.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]'):
        rat.append(i.text)
   
    dv.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
    time.sleep(3)
    
print(len(rat))

100

In [46]:
rew_sum=[]

for j in range(10):
    for i in dv.find_elements_by_xpath('//p[@class="_2-N8zT"]'):
        rew_sum.append(i.text)
   
    dv.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
    time.sleep(3)
    
print(len(rew_sum))

100

In [47]:
full_rew=[]

for j in range(10):
    for i in dv.find_elements_by_xpath('//div[@class="t-ZTKy"]'):
        full_rew.append(i.text)
   
    dv.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
    time.sleep(3)
    
print(len(full_rew))

100

In [48]:
iPhone11_review=pd.DataFrame({})
iPhone11_review['Ratings']=rat
iPhone11_review['Review_Summary']=rew_sum
iPhone11_review['Full_Summary']=full_rew

iPhone11_review

,Ratings,Review_Summary,Full_Summary
0,5,Brilliant,Iphone is just awesome.. battery backup is ver...
1,5,Perfect product!,It’s been almost a month since I have been usi...
2,5,Great product,What a camera .....just awesome ..you can feel...
3,5,Worth every penny,"Excellent camera, good performance, no lag. Th..."
4,4,Good choice,Awesome Phone. Slightly high price but worth. ...
...,...,...,...
95,5,Terrific,Really worth of money. i just love it. It is t...
96,5,Classy product,Superb Product !!!\nA big and worthy upgrade f...
97,5,Highly recommended,It's my first time to use iOS phone and I am l...
98,5,Wonderful,This is my first ever I phone. Before this I w...
99,5,Brilliant,"I have migrated from OP 7pro... and trust me, ..."

### Ques8. Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.You have to scrape 4 attributes of each sneaker :
### 1. Brand
### 2. Product Description
### 3. Price
### 4. discount %

In [49]:
dv=webdriver.Chrome('chromedriver.exe')

In [50]:
dv.get('https://www.flipkart.com/')

In [51]:
search=dv.find_element_by_xpath('//input[@class="_3704LK"]')
search.send_keys("sneakers")

In [52]:
search_btn=dv.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [53]:
brand=[]

for i in range(3):
    for j in dv.find_elements_by_xpath('//div[@class="_2WkVRV"]'):
        brand.append(j.text)
        
    dv.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
    time.sleep(5)

In [54]:
print(len(brand))

120

In [57]:
prod_ds=[]

for i in range(3):
    for j in dv.find_elements_by_xpath('//div[@class="_2WkVRV"]'):
        prod_ds.append(j.text)
        
    dv.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
    time.sleep(5)

In [58]:
print(len(prod_ds))

120

In [59]:
price=[]

for i in range(3):
    for j in dv.find_elements_by_xpath('//div[@class="_30jeq3"]'):
        price.append(j.text)
        
    dv.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
    time.sleep(5)

In [60]:
print(len(price))

120

In [61]:
disc=[]

for i in range(3):
    for j in dv.find_elements_by_xpath('//div[@class="_3Ay6Sb"]'):
        disc.append(j.text)
        
    dv.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
    time.sleep(5)

In [62]:
print(len(disc))

120

In [63]:
Sneakers_details=pd.DataFrame({})
Sneakers_details['Brand']=brand[:100]
Sneakers_details['Product_Desc']=prod_ds[:100]
Sneakers_details['Price']=price[:100]
Sneakers_details['Discount']=disc[:100]

Sneakers_details

             Brand  Product_Desc   Price Discount
0           BRUTON     bluemaker    ₹449  52% off
1            3SIX5        SWIGGY    ₹399  71% off
2        India hub         SPARX    ₹404  15% off
3           ORICUM        Extoes    ₹377  72% off
4         PEHANOSA      HOTSTYLE    ₹474  43% off
..             ...           ...     ...      ...
95          BRUTON        BRUTON  ₹1,272  31% off
96          Chevit        Alfiya    ₹473  62% off
97        HOTSTYLE      Magnolia    ₹448  68% off
98              TR  Robbie jones    ₹379  52% off
99  Fashion Faster         Xtoon    ₹525  80% off

[100 rows x 4 columns]

### Ques9.Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”.
### And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoes.

In [64]:
d=webdriver.Chrome('chromedriver.exe')

In [65]:
d.get('https://www.myntra.com/shoes')

In [66]:
search=d.find_element_by_xpath('//input[@class="desktop-searchBar"]')
search.send_keys("shoes")

In [67]:
search_btn=d.find_element_by_xpath('//a[@class="desktop-submit"]')
search_btn.click()

In [70]:
filter_price=d.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
filter_price.click()

In [69]:
filter_color=d.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
filter_color.click()

In [71]:
brand=[]
for i in range(2):
    for j in d.find_elements_by_xpath('//h3[@class="product-brand"]'):
        brand.append(j.text)
        
    d.find_element_by_xpath('//a[@rel="next"]').click()
    time.sleep(3)

In [72]:
print(len(brand))

100

In [73]:
desc=[]

for i in range(2):
    for j in d.find_elements_by_xpath('//h4[@class="product-product"]'):
        desc.append(j.text)
        
    d.find_element_by_xpath('//a[@rel="next"]').click()
    time.sleep(3)

In [74]:
print(len(desc))

100

In [78]:
price=[]

for i in range(2):
    for j in d.find_elements_by_xpath('//div[@class="product-price"]/span[1]'):
        price.append(j.text)
        
    d.find_element_by_xpath('//a[@rel="next"]').click()
    time.sleep(3)

In [79]:
print(len(price))

100

In [80]:
Shoes_details=pd.DataFrame({})
Shoes_details['Brand']=brand
Shoes_details['Short_Desc']=desc
Shoes_details['Price']=price

Shoes_details

                   Brand                        Short_Desc               Price
0                   Nike       Women AIR MAX VIVA Sneakers    Rs. 7192Rs. 8990
1                   ALDO         Men REACT MILER 2 Running           Rs. 10999
2                   Nike        Men Formal Leather Brogues           Rs. 10999
3                   Nike           Men Solid Driving Shoes           Rs. 10990
4                   Nike  Men Solid Leather Formal Loafers   Rs. 9793Rs. 13990
..                   ...                               ...                 ...
95  Heel & Buckle London         Men Woven Design Sneakers    Rs. 6993Rs. 9990
96                  Nike          Men Charged Escape 3 Evo            Rs. 6999
97          UNDER ARMOUR       Men Future Leather Sneakers    Rs. 7999Rs. 9999
98                 ASICS     Unisex Delegation EX Sneakers  Rs. 10499Rs. 14999
99               Bugatti           Unisex RS-Fast Sneakers           Rs. 11999

[100 rows x 3 columns]

### Ques10.Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon.Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”. After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
### 1. title
### 2. Ratings
### 3. Price

In [48]:
d=webdriver.Chrome('chromedriver.exe')

In [49]:
d.get('https://www.amazon.in/')

In [50]:
search=d.find_element_by_id('twotabsearchtextbox')
search.send_keys("Laptop")

In [51]:
search_btn=d.find_element_by_id('nav-search-submit-text')
search_btn.click()

In [52]:
filter_cpu=d.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/div/label/i')
filter_cpu.click()

In [53]:
filter_cpu2=d.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/16757432031"]/span/a/div/label/i')
filter_cpu2.click()

In [ ]:
#for i in url[:10]:
 #   d.get(i)
  #  time.sleep(3)

In [54]:
title=[]

for j in d.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]'):
    title.append(j.text)
    

print(len(title))

24

In [56]:
price=[]

for i in d.find_elements_by_xpath('//span[@class="a-price-whole"]'):
    price.append(i.text)
    

print(len(price))

22

In [57]:
url=[]
for i in d.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]/a'):
    url.append(i.get_attribute('href'))

In [58]:
rat=[]
for i in url[:10]:
    d.get(i)
    time.sleep(3)
    try:
        tags=d.find_element_by_xpath('//span[@class="a-size-medium a-color-base"]')
        rat.append(tags.text)
    except:
        rat.append("none")

print(len(rat))

10

In [59]:
Laptop_details=pd.DataFrame({})
Laptop_details['Laptop_Name']=title[:10]
Laptop_details['Price']=price[:10]
Laptop_details['Ratings']=rat

Laptop_details

                                         Laptop_Name     Price       Ratings
0  Dell Inspiron 5410 14" FHD Touch Display 2in1 ...    97,990          none
1  Mi Notebook Horizon Edition 14 Intel Core i5-1...    54,999  4.4 out of 5
2  Lenovo Ideapad 5 Intel i7 11th Gen 15.6" Thin ...    76,990    5 out of 5
3  HP Pavilion Gaming 10th Gen Intel Core i7 Proc...    86,990    4 out of 5
4  Life Digital Laptop 15.6-inch (39.62 cms) (Int...    26,990  3.1 out of 5
5  HP Pavilion (2021) Thin & Light 11th Gen Core ...    84,990  4.5 out of 5
6  (Renewed) ASUS ROG Strix Scar II GL504GM-ES155...  1,46,192          none
7  HP 14 Thin & Light 14" (35.56cms) FHD Laptop (...    89,990  4.7 out of 5
8  ASUS ROG Zephyrus Duo 15, 15.6" 4K UHD, Intel ...  2,69,990  3.8 out of 5
9  Lenovo Yoga 7 11th Gen Intel Core i7 14" (35.5...    97,990  4.6 out of 5

### Ques11.Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in.The scraped data should include Product Name, Price, Image URL and Average Rating.

In [80]:
d=webdriver.Chrome('chromedriver.exe')

In [81]:
d.get('https://www.amazon.in/')

In [82]:
search=d.find_element_by_id('twotabsearchtextbox')
search.send_keys("Phones under 20,000")

In [83]:
search_btn=d.find_element_by_id('nav-search-submit-text')
search_btn.click()

In [89]:
url=[]

for i in d.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]/a'):
    url.append(i.get_attribute('href'))

In [84]:
phn_name=[]
for i in d.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]'):
    phn_name.append(i.text)

print(len(phn_name))

20

In [95]:
img_url=[]
for i in d.find_elements_by_xpath('//img[@class="s-image"]'):
    img_url.append(i.get_attribute('src'))
    
print(len(img_url))

20

In [90]:
rat=[]
for i in url:
    d.get(i)
    time.sleep(3)
    try:
        tags=d.find_element_by_xpath('//span[@class="a-size-medium a-color-base"]')
        rat.append(tags.text)
    except:
        rat.append("none")

print(len(rat))

20

In [92]:
price=[]

for i in url:
    d.get(i)
    time.sleep(3)
    pr=d.find_element_by_xpath('/html/body/div[2]/div[2]/div[5]/div[4]/div[4]/div[9]/div[1]/div/table/tbody/tr[2]/td[2]/span[1]')
    price.append(pr.text)

print(len(price))

20

In [96]:
Phones_details=pd.DataFrame({})
Phones_details['Phone_name']=phn_name
Phones_details['Price']=price
Phones_details['Ratings']=rat
Phones_details['Image_url']=img_url

Phones_details

,Phone_name,Price,Ratings,Image_url
0,"iQOO Z3 5G (Ace Black, 8GB RAM, 128GB Storage)...","₹ 20,990.00",4.2 out of 5,https://m.media-amazon.com/images/I/61uIgwiP90...
1,"Samsung Galaxy M31 (Ocean Blue, 8GB RAM, 128GB...","₹ 16,999.00",4.3 out of 5,https://m.media-amazon.com/images/I/71R3hxVbj8...
2,"Redmi 9 Power (Mighty Black, 6GB RAM, 128GB St...","₹ 12,999.00",4.2 out of 5,https://m.media-amazon.com/images/I/71-Su4Wr0H...
3,"Vivo Y51A (Titanium Sapphire, 8GB, 128GB Stora...","₹ 17,990.00",4.1 out of 5,https://m.media-amazon.com/images/I/61LHaUOheh...
4,"realme 8 5G (4 GB RAM, 64GB ROM) (Supersonic B...","₹ 14,878.00",5 out of 5,https://m.media-amazon.com/images/I/71BRHXBME2...
5,"Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)| 500...","₹ 8,799.00",4.2 out of 5,https://m.media-amazon.com/images/I/41NE1xBiBI...
6,"Redmi 9A (Nature Green, 2GB RAM, 32GB Storage)...","₹ 6,799.00",4.2 out of 5,https://m.media-amazon.com/images/I/71A9Vo1Bat...
7,"Oppo A31 (Fantasy White, 6GB RAM, 128GB Storag...","₹ 11,490.00",4.2 out of 5,https://m.media-amazon.com/images/I/71sxlhYhKW...
8,"Oppo A31 (Mystery Black, 6GB RAM, 128GB Storag...","₹ 11,490.00",4.2 out of 5,https://m.media-amazon.com/images/I/715t-uJnjM...
9,"OPPO A74 5G (Fluid Black, 6GB RAM, 128GB Stora...","₹ 17,990.00",4.2 out of 5,https://m.media-amazon.com/images/I/61IhTtJUXJ...
10,"OPPO F19 Pro+ 5G (Space Silver, 8GB RAM, 128GB...","₹ 25,990.00",4.1 out of 5,https://m.media-amazon.com/images/I/71uXmoBZpO...
11,"Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storag...","₹ 10,999.00",4.3 out of 5,https://m.media-amazon.com/images/I/71crCF+ogw...
12,"Panasonic Eluga i7 (2GB RAM, 16GB Storage, Fin...","₹ 5,298.00",3.1 out of 5,https://m.media-amazon.com/images/I/71KCwNV6Mu...
13,"Samsung Galaxy M42 5G (Prism Dot Black, 8GB RA...","₹ 23,999.00",4.1 out of 5,https://m.media-amazon.com/images/I/71X5I1cVfb...
14,"Samsung Galaxy M31s (Mirage Black, 8GB RAM, 12...","₹ 18,999.00",4.3 out of 5,https://m.media-amazon.com/images/I/41QsvcpKaZ...
15,"OPPO A74 5G (Fluid Black, 6GB RAM, 128GB Stora...","₹ 17,990.00",4.2 out of 5,https://m.media-amazon.com/images/I/71LweCKOpF...
16,"Samsung Galaxy M11 (Metallic Blue, 4GB RAM, 64...","₹ 9,499.00",4.2 out of 5,https://m.media-amazon.com/images/I/71BFG8Zu7z...
17,"Samsung Galaxy M31 (Space Black, 8GB RAM, 128G...","₹ 16,999.00",4.3 out of 5,https://m.media-amazon.com/images/I/71R3hxVbj8...
18,"Vivo Y31 (Ocean Blue, 6GB, 128GB Storage) with...","₹ 16,490.00",4.2 out of 5,https://m.media-amazon.com/images/I/71GQUxuSpn...
19,"Oppo F19 (Prism Black, 6GB RAM, 128GB Storage)...","₹ 18,990.00",4 out of 5,https://m.media-amazon.com/images/I/71OxJeyywS...